*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    margin: 0 auto;
    padding: 0;
    background-color: rgb(230, 200, 149);
}

#pagina{
    width: 900px;
    height: 1000px;
    background-color: bisque;
}

#encabezado{
    height: 15%;
    background-color: rgb(230, 200, 149);
    text-align: center;
    padding: 50px;

}

#barraNavegacion{
    height: 5%;
    background-color: rgb(171, 161, 134);
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

nav a{
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
}

#asize{
    background-color: rgb(190, 193, 79);
    flex: 35%;
    padding: 20px;
}

#seccion{
    flex: 64%;
    background-color: rgb(151, 158, 54);
    padding: 20px;
}

#pieNavegacion{
    height: 10%;
    background-color: rgb(230, 200, 149);
    display: flex;
    justify-content: center;

}

.row{
    display: flex;
    justify-content: center;
}

#texto{
    display: flex;
    justify-content: center;
    text-align: justify;
    font-weight: bold;
    font-size: large;
}

img{
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid black;
}
.img{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    
}

nav ul{
    display: flex;
    text-align: center;
    list-style: none;
    text-decoration: none;
}

nav li{
    margin-right: 30px;
}

aside li{
    font-size: large;
}